body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  color: #000;
}

header {
  border-bottom: 1px solid #ddd;
  padding: 15px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-right ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

main {
  padding: 40px 50px;
}

.admin-section {
  max-width: 500px;
}

.admin-actions {
  margin-bottom: 40px;
}

.big-button {
  background-color: #000;
  color: #fff;
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 60px;
}

.register-profesor h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.name-group {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.name-group div {
  flex: 1;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

input::placeholder {
  color: #aaa;
}

.submit-button {
  background-color: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.cards-container {
  display: flex;
  flex-direction: row; 
  gap: 40px;           
}

.registro-section {
  margin-top: 60px;
  padding-left: 50px;
}

.registro-section .section-title {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

#registro-form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

#registro-form input[type="text"],
#registro-form input[type="email"],
#registro-form input[type="password"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.submit-button {
  background-color: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  width: 150px;
}